.box_container {
  width: 370px;
  display: grid;
  place-items: center;
  height: 60%;
  grid-template-columns: repeat(3, 100px);
  align-content: center;
  justify-content: center;
  background-color: #000;
  gap: 13px;
  border-radius: 10px;
}

table tr {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

table td {
  width: 100px;
  height: 100px;
  border: 1px solid #979797;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 24px;
  width: 300px;
  padding: 10px 0px;
}

.moves__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
